---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "test_test-zeropoint",
  "short_name": "test_test-zeropoint",
  "display": "standalone",
  "start_url": "/"
}
